@font-face {
  font-family: 'Kubasta';
  src: local('Kubasta'), url(./assets/fonts/Kubasta.ttf) format('truetype');
}
@font-face {
  font-family: 'AtariGames';
  src: local('AtariGames'), url(./assets/fonts/AtariGames.ttf) format('truetype');
}
@font-face {
  font-family: 'TripleN';
  src: local('TripleN'), url(./assets/fonts/TripleN.ttf) format('truetype');
}
@font-face {
  font-family: 'Bitfantasy';
  src: local('Bitfantasy'), url(./assets/fonts/Bitfantasy.ttf) format('truetype');
}
@font-face {
  font-family: 'TinyUnicode';
  src: local('TinyUnicode'), url(./assets/fonts/TinyUnicode.ttf) format('truetype');
}
@font-face {
  font-family: 'MMXSNES';
  src: local('MMXSNES'), url(./assets/fonts/MMXSNES.ttf) format('truetype');
}

main {
  background-color: #333969;
  font-family: 'AtariGames', sans-serif;
}


/* dialogue box on front page */

.dialogWindow {
  background-color: #1d2459;
  padding: 1.5rem 2rem;
  border-image: url('./assets/dialogboxbg.png') 28 / 10px 10px 10px 10px stretch;
  border-width: 5px;
  border-style: solid;
  overflow: hidden;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  cursor: pointer;
  z-index: 100;
  min-width: 400px;
  max-width: 60%;
  width: 500px;
  height: 150px;
}

.dialogWindow2 {
  background-color: #1d2459;
  padding: 1.5rem 2rem;
  border-image: url('./assets/dialogboxbg.png') 28 / 10px 10px 10px 10px stretch;
  border-width: 5px;
  border-style: solid;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
  z-index: 100;
  min-width: 400px;
  max-width: 60%;
  width: 560px;
  height: 115px;
  margin-bottom: 30px;
}

.dialogMessage {
  color: #fff;
  font-size: 1.8rem;
  font-family: 'Kubasta', sans-serif;
  font-weight: 400;
  margin-bottom: 0;
  height: 90%;
}

.dialogMessage:after {
  font-size: 2.2rem;
  content: "|";
  animation: caret 500ms linear infinite alternate;
}

@keyframes caret {
  0%{opacity: 0;}
	100%{opacity: 1;}
}

@-moz-keyframes caret {
	0%{opacity: 0;}
	100%{opacity: 1;}
}

@keyframes caret {
	0%{opacity: 0;}
	100%{opacity: 1;}
}

.nextButton {
  display: block;
  background-color: transparent;
  border: none;
  color: #fff;
  float: right;
  padding: 0;
  animation: blinker 1s infinite;
}

@keyframes blinker {
  from { opacity: 1.0; }
  50% { opacity: 0; }
  to { opacity: 1.0; }
}

.chevIcon {
  display: block;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  height: auto;
  width: 4rem;
  cursor: pointer;
  animation: bounce 1s ease infinite;
}

@keyframes bounce {
  0%   { top: 95%; }
  50%  { top: 97%; }
  100% { top: 95%; }
}

.witch-gif {
  position: absolute;
  top: 337px;
  left: 665px;
}

.witch-gif .witchRun {
  position: inherit;
  animation: moveRight 2s linear infinite;
}

@keyframes moveRight {
  0% {left: 0px;}
  50% {left: 210px;}
  100% {left: 450px;}
}
/* Mobile accessibility */

@media screen and (max-width: 992px) {
  .dialogWindow {
    position: absolute;
    top: 25%;
  }
}

@media screen and (max-width: 600px) {
  .dialogWindow {
    position: absolute;
    top: 18%;
    min-width: 250px;
    height: 125px;
  }
  .dialogMessage {
    font-size: 0.8rem;
  }
  
  .dialogMessage:after {
    font-size: 1.0rem;
  }
  .nextButton {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 480px) {
  .dialogMessage {
    font-size: 0.75rem;
  }
}


div svg {
  cursor: default;
}

.section-title {
  color: #fff;
  font-size: 5em;
  font-family: 'TripleN';
}

/* Skills */
.skills-col-title {
  margin-bottom: 2rem;
}

.skills-col-title p {
  color: #fff;
  font-size: 24px;
}

.skills-col {
  margin-bottom: 25px;
}

.pixel-border {
  border-style: solid;
  border-image-slice: 36 36 36 36;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url('./assets/styled-border.png');
  padding: 20px;
  margin-bottom: 20px;
  background: #ead4aa ;
  border-image-outset: 2px;
}

.skillbox {
  background-color: #1d2459;
  padding: 1.5rem 2rem;
  border-image: url('./assets/dialogboxbg.png') 28 / 10px 10px 10px 10px stretch;
  border-width: 5px;
  border-style: solid;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  z-index: 100;
  max-width: 100%;
  height: 100%;
}

.skill-text {
  font-family: 'Kubasta', sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #222222;
}


/* SKILLS END */

#projects p {
  color: #fff;
}

/* NAVBAR STYLES */
.inProgress {
  text-decoration: line-through;
}
/* NAVBAR STYLES END */